body{
    font-family: 'Balsamiq Sans';
    justify-content: center; 
}

.contenedorPrincipal{
    border: 2px solid rgb(236, 30, 30);
    width: 650px;
}

.header{
    background-color: rgb(9, 212, 22);
    height: 70px;
}

.header > img{
    width: 80px;
    position: relative;
    top: 30px;
    left: 20px;
    border: 2px solid rgb(219, 15, 250);
    border-radius: 50%;
    padding: 2px;
    background-color: rgb(13, 187, 235);
}

.tarjetaInformacion{
    margin-top: 55px;
    padding-left: 20px;
    padding-bottom: 20px;

}

.iconoUbicacion {
    width: 10px;
    padding: 5px;
}

.iconoConfiguracion{
    width: 15px;
    padding: 5px;
}

.ciudad, .linkEditar{
    vertical-align: 7px;
}

.skillset{
    margin-bottom: 5px;
}

.tituloUniversitario{
    margin-top: 0;
}